In [ ]:
import pandas as pd
import tensorflow as tf
import os
import re
import numpy as np
from string import punctuation
from zipfile import ZipFile
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Embedding, GRU, LSTM, RNN, SpatialDropout1D
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')
root_path1 = 'gdrive/My Drive/ColapData/train.csv'
root_path2 = 'gdrive/My Drive/ColapData/test.csv'
train = pd.read_csv(root_path1)
test = pd.read_csv(root_path2)
train_data = train.copy()
test_data = test.copy()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
train_data = train_data.set_index('id', drop = True)
train_data.head()

                                                title  ... label
id                                                     ...
0   House Dem Aide: We Didn’t Even See Comey’s Let...  ...     1
1   FLYNN: Hillary Clinton, Big Woman on Campus - ...  ...     0
2                   Why the Truth Might Get You Fired  ...     1
3   15 Civilians Killed In Single US Airstrike Hav...  ...     1
4   Iranian woman jailed for fictional unpublished...  ...     1

[5 rows x 4 columns]

In [ ]:
test_data.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [ ]:
train_data.isnull().sum()

title     0
author    0
text      0
label     0
length    0
dtype: int64

In [ ]:
train_data[['title', 'author']] = train_data[['title', 'author']].fillna(value = 'Missing')
train_data = train_data.dropna()
train_data.isnull().sum()

title     0
author    0
text      0
label     0
length    0
dtype: int64

In [ ]:
length = []
[length.append(len(str(text))) for text in train_data['text']]
train_data['length'] = length
train_data.head()

                                                title  ... length
id                                                     ...
0   House Dem Aide: We Didn’t Even See Comey’s Let...  ...   4930
1   FLYNN: Hillary Clinton, Big Woman on Campus - ...  ...   4160
2                   Why the Truth Might Get You Fired  ...   7692
3   15 Civilians Killed In Single US Airstrike Hav...  ...   3237
4   Iranian woman jailed for fictional unpublished...  ...    938

[5 rows x 5 columns]

In [ ]:
min(train_data['length']), max(train_data['length']), round(sum(train_data['length'])/len(train_data['length']))

(1, 142961, 4553)

In [ ]:
len(train_data[train_data['length'] < 50])

207

In [ ]:
train_data['text'][train_data['length'] < 50]

id
82
169
173                                   Guest   Guest
196            They got the heater turned up on high.
295
                             ...
20350                         I hope nobody got hurt!
20418                                 Guest   Guest
20431    \nOctober 28, 2016 The Mothers by stclair by
20513
20636                              Trump all the way!
Name: text, Length: 207, dtype: object

In [ ]:
train_data = train_data.drop(train_data['text'][train_data['length'] < 50].index, axis = 0)

In [ ]:
max_features = 1500
tokenizer = Tokenizer(num_words = max_features, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower = True, split = ' ')
tokenizer.fit_on_texts(texts = train_data['text'])
X = tokenizer.texts_to_sequences(texts = train_data['text'])

In [ ]:
X = pad_sequences(sequences = X, maxlen = max_features, padding = 'pre')

In [ ]:
print(X.shape)
y = train_data['label'].values
print(y.shape)

(20554, 1500)
(20554,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [ ]:
lstm_model = Sequential(name = 'lstm_nn_model')

In [ ]:
lstm_model.add(layer = Embedding(input_dim = max_features, output_dim = 100, name = '1st_layer'))
lstm_model.add(layer = LSTM(units = 100, dropout = 0.1, recurrent_dropout = 0.1, name = '2nd_layer'))
lstm_model.add(layer = Dropout(rate = 0.5, name = '3rd_layer'))
lstm_model.add(layer = Dense(units = 100,  activation = 'relu', name = '4th_layer'))
lstm_model.add(layer = Dropout(rate = 0.5, name = '5th_layer'))
lstm_model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [ ]:
lstm_model_fit = lstm_model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
514/514 [==============================] - 1760s 3s/step - loss: 4.7375 - accuracy: 0.4968
Epoch 2/3
514/514 [==============================] - 1767s 3s/step - loss: 4.5451 - accuracy: 0.5041
Epoch 3/3
514/514 [==============================] - 1767s 3s/step - loss: 4.9236 - accuracy: 0.5112

In [ ]:
test_data = test_data.set_index('id', drop = True)
test_data.shape

(5200, 3)

In [ ]:
test_data = test_data.fillna(' ')
test_data.isnull().sum()

title     0
author    0
text      0
dtype: int64

In [ ]:
tokenizer.fit_on_texts(texts = test_data['text'])
test_text = tokenizer.texts_to_sequences(texts = test_data['text'])
test_text = pad_sequences(sequences = test_text, maxlen = max_features, padding = 'pre')

In [ ]:
lstm_prediction = lstm_model.predict_classes(test_text)

WARNING:tensorflow:From <ipython-input-39-fc3a755e1bf6>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [ ]:
result = pd.DataFrame({'id':test_data.index, 'label':lstm_prediction})

In [ ]:
result.head()

      id  label
0  20800      0
1  20801      0
2  20802      0
3  20803      0
4  20804      0